@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sublima';
    src: url('fonts/Sublima-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sublima';
    src: url('fonts/Sublima-ExtraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

header {
    background: #1d251c;
    padding: 20px 0 20px 0;
}

#logo {
    width: 10%;
    padding-left: 3%;
}

.abas{
    color:#ffffff;
    padding: 7px 7px 7px 7px ;
}

.caixa{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 43%;
    right: 40px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    font-family: 'Aileron', Times, Serif;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color:#c7c7c7;
    text-decoration: underline;
}

.fotoBrownie {
    max-width: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 70px 50px;
}


.produtos li{
    font-family: 'Sublima', Times, Serif;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 3px solid #e1e1e1;
    border-radius: 0 0 10px 10px ;
    background-color: #e1e1e1;
}

.produtos li:hover{
    border: 3px solid #1d251c;
}

.produtos li:active{
    background-color: #1d251c;
    color:#ffffff;
}

.produtos h2{
    font-size: 18px;
}

.produtos li:hover h2{
    font-size: 20px;
}

.preco{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: #1d251c;
    padding-bottom: 10px;
}

.copyright{
    color: #ffffff;
    margin-top: 20px;
}

.logoFooter{
    width: 8%;
    margin-top: 20px;
}