@font-face {
    font-family: 'Aileron';
    src: url('fonts/Aileron-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sublima';
    src: url('fonts/Sublima-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sublima';
    src: url('fonts/Sublima-ExtraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

header {
    background: #1d251c;
    padding: 20px 0 20px 0;
}

#logo {
    width: 10%;
    padding-left: 3%;
}

.abas{
    color:#ffffff;
    padding: 7px 7px 7px 7px ;
}

.caixa{
    position: relative;
    width: 100%;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 43%;
    right: 40px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    font-family: 'Aileron', Times, Serif;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover {
    color:#c7c7c7;
    text-decoration: underline;
}

h2 {
    font-size: 25px;
}

.quemSomos {
    font-family: 'Sublima', Times, Serif;
    margin: 5% 0 10% 10%;
    display: inline-block;
    vertical-align: top;
    width: 40%;
}
.quemSomos h2{
    margin-bottom: 5%;
}
.quemSomos ul {
    margin-left: 1%;
}

.brownieMain {
    width: 20%;
}






footer{
    text-align: center;
    background: #1d251c;
    padding-bottom: 10px;
}

.copyright{
    color: #ffffff;
    margin-top: 20px;
}

.logoFooter{
    width: 8%;
    margin-top: 20px;
}